# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
php_errors.log
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
mobile-application/app/modules/push_notifications/push_notifications.js
mobile-application/app/modules/mobile_notifications/mobile_notifications.js
pma/*
cache/*
